.footer {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: lightblue;
}

.title-bar {
    padding: 20px;
}

.main {
    background: linear-gradient(#ffb647, #f7701b);
}

.list {
    background: lightgray;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}